<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Temp\oidc_customLogin.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!-- ###################################################################    -->
    <!--  config for pegasso-dev.oktapreview.com-->
    <!--<add key="okta.apiUrl" value="https://pegasso-dev.oktapreview.com"/>
    <add key="okta.apiToken" value="00EOALBOK08BZAnjiM_K5BCHDLOhIW83P0Qn2ksLjF"/>
    <add key="okta.widgetVersion" value="2.21.0"/>-->
    <!--<add key="okta.identityProvider" value="0oak4qcg796eVYakY0h7"/>-->
    <!--use OIDC_Web -->
    <!--<add key="oidc.spintweb.clientId" value="0oanpzrs5cx76gvOU0h7"/>
    <add key="oidc.spintweb.clientSecret" value="dJdxzJufyM1CrzeQ-CnfCimPibimKUREYkuNz3hX"/>
    <add key="oidc.spintweb.redirectUri" value="http://localhost:50664/Oidc/ValidationEndpoint"/>-->
    <!--<add key="oidc.spintweb.redirectUri" value="https://aclarke.ngrok.io/Oidc/ValidationEndpoint" />-->
    <!--use OIDC_SPA -->
    <!--<add key="oidc.spintspa.clientId" value="0oajntxtgnclqMlxo0h7"/>
    <add key="oidc.spintspa.clientSecret" value=""/>
    <add key="oidc.spintspa.redirectUri" value="http://localhost:50664/Oidc/Endpoint_PKCE"/>-->
    <!--use OIDC_Native for Resource Owner and PKCE-->
    <!--<add key="oidc.spintnative.clientId" value="0oajntv78lvKX7ks10h7"/>
    <add key="oidc.spintnative.clientSecret" value="JtBjvDt3Ocv-cQd-Fc8GoD8DomyJW_kam0WVWc5f"/>
    <add key="oidc.spintnative.RedirectUri" value="http://localhost:50664/Oidc/ValidationEndpoint"/>
    <add key="oidc.spintnative.RedirectUri_PKCE" value="http://localhost:50664/Oidc/Endpoint_PKCE"/>-->
    <!--<add key="oidc.spintnative.RedirectUri" value="https://aclarke.ngrok.io/Oidc/ValidationEndpoint" />-->
    <!--OAUTH_ClientCred client credendial workflow-->
    <!--<add key="oidc.clientcredservice.clientId" value="0oajnuhekrUqOyjLJ0h7"/>
    <add key="oidc.clientcredservice.clientSecret" value="dC3FiAeMwj5EybfaP3erYzCo0IpRTH73-LpyfYEO"/>
    <add key="oidc.clientcredservice.scopes" value="resource_create resource_delete resource_read resource_update inline_hook"/>-->
    <!-- Custom Authorization Server -->
    <!--<add key="oidc.customAuthServer.RedirectUri" value="http://localhost:50664/Oidc/InitiateService"/>
    <add key="oidc.authServer" value="https://aclarke.oktapreview.com/oauth2/ausjnvl994i9Ov97X0h7"/>
    <add key="oidc.issuer" value="https://aclarke.oktapreview.com/oauth2/ausjnvl994i9Ov97X0h7"/>-->
    <!--<add key="oidc.scopes" value="openid profile groups resource_create resource_delete resource_read resource_update offline_access" />-->
    <!--<add key="oidc.scopes" value="openid profile groups sample_scope_one sample_scope_two offline_access"/>-->
    <!--<add key="oidc.scopes" value="openid inline_hook" />-->
    <!-- Built-in Authorization Server -->
    <!--<add key="oidc.authServer" value="https://pegasso-dev.oktapreview.com/oauth2" />
    <add key="oidc.issuer" value="https://pegasso-dev.oktapreview.com"/>
    <add key="oidc.scopes" value="openid profile email"/>-->
    <!-- ###################################################################    -->
    <!--  config for aclarke.oktapreview.com-->
    <add key="okta.apiUrl" value="https://aclarke-neto.oktapreview.com"/>
    <add key="okta.apiToken" value="003r9eCkOvTHoSZb-t5T8z6g0B685iiK3RwD91OtF8"/>
    <add key="okta.widgetVersion" value="3.8.0"/>
    <add key="okta.identityProvider" value="0oak4qcg796eVYakY0h7"/>
    <!--use OIDC_Web -->
    <add key="oidc.spintweb.clientId" value="0oaqhh0mu5Er1dgoc0h7"/>
    <add key="oidc.spintweb.clientSecret" value="XbLC6dRdHNgoH-CEyCNMvkxBAzyY-CxgcvKsPSwC"/>
    <add key="oidc.spintweb.redirectUri" value="http://localhost:50664/Oidc/ValidationEndpoint"/>
    <!--<add key="oidc.spintweb.redirectUri" value="https://aclarke.ngrok.io/Oidc/ValidationEndpoint" />-->
    <!--use OIDC_SPA -->
    <add key="oidc.spintspa.clientId" value="0oajntxtgnclqMlxo0h7"/>
    <add key="oidc.spintspa.clientSecret" value=""/>
    <add key="oidc.spintspa.redirectUri" value="http://localhost:50664/Oidc/Endpoint_PKCE"/>
    <!--use OIDC_Native for Resource Owner and PKCE-->
    <add key="oidc.spintnative.clientId" value="0oajntv78lvKX7ks10h7"/>
    <add key="oidc.spintnative.clientSecret" value="JtBjvDt3Ocv-cQd-Fc8GoD8DomyJW_kam0WVWc5f"/>
    <add key="oidc.spintnative.RedirectUri" value="http://localhost:50664/Oidc/ValidationEndpoint"/>
    <add key="oidc.spintnative.RedirectUri_PKCE" value="http://localhost:50664/Oidc/Endpoint_PKCE"/>
    <!--<add key="oidc.spintnative.RedirectUri" value="https://aclarke.ngrok.io/Oidc/ValidationEndpoint" />-->
    <!--OAUTH_ClientCred client credendial workflow-->
    <add key="oidc.clientcredservice.clientId" value="0oaawzhv31H7GIUI94x6"/>
    <add key="oidc.clientcredservice.clientSecret" value="8dppaZelGa7TkmWBK4ZyvitDapQHYtkZYqyUZK-6"/>
    <add key="oidc.clientcredservice.scopes" value="custom_scope"/>
    <!-- Custom Authorization Server -->
    <add key="oidc.customAuthServer.Audience" value="http://localhost:50664/Oidc/InitiateService"/>
    <add key="oidc.authServer" value="https://aclarke-neto.oktapreview.com/oauth2/aus90h4gyj2Hc8QOy0h7"/>
    <add key="oidc.issuer" value="https://aclarke-neto.oktapreview.com/oauth2/aus90h4gyj2Hc8QOy0h7"/>
    <add key="oidc.scopes" value="openid profile custom_scope"/>
    <!--<add key="oidc.scopes" value="openid profile groups sample_scope_one sample_scope_two offline_access"/>-->
    <!--<add key="oidc.scopes" value="openid inline_hook" />-->
    <!-- Built-in Authorization Server -->
    <!--<add key="oidc.authServer" value="https://aclarke.oktapreview.com/oauth2" />
    <add key="oidc.issuer" value="https://aclarke.oktapreview.com"/>
    <add key="oidc.scopes" value="openid profile email address phone groups offline_access"/>-->
    <!-- ###################################################################    -->
    <!--  config for aclarkevanity.oktapreview.com  id.aclarkesylvania.com -->
    <!--
    <add key="okta.apiUrl" value="https://id.aclarkesylvania.com" />
    <add key="okta.apiToken" value="00XHM4p6qJylgIQQFrtDfb1jYSr4mabyEvMDmMmJ6_" />
    <add key="okta.widgetVersion" value="2.13.0" />-->
    <!--use OIDC_Web -->
    <!--<add key="oidc.spintweb.clientId" value="0oajrnfslwdzIUOvS0h7" />
    <add key="oidc.spintweb.clientSecret" value="nEm4Mx0Nj9M4n6KzQofSbdwW7nUBkp-sV2a0FTW3" />
    <add key="oidc.spintweb.redirectUri" value="http://localhost:50664/Oidc/ValidationEndpoint" />-->
    <!--<add key="oidc.spintweb.redirectUri" value="https://aclarke.ngrok.io/Oidc/ValidationEndpoint" />-->
    <!--use OIDC_Native for Resource Owner and PKCE-->
    <!--<add key="oidc.spintnative.clientId" value="0oajro9mueXC2fR3D0h7" />
    <add key="oidc.spintnative.clientSecret" value="QFpLq8uMZWjp2Lbc-dxUmUgkhnD1lSbkSs8oQJRn" />
    <add key="oidc.spintnative.RedirectUri" value="http://localhost:50664/Oidc/Endpoint_Web" />
    <add key="oidc.spintnative.RedirectUri_PKCE" value="http://localhost:50664/Oidc/Endpoint_PKCE" />-->
    <!--<add key="oidc.spintnative.RedirectUri" value="https://aclarke.ngrok.io/Oidc/Endpoint_Web" />-->
    <!--OAUTH_ClientCred client credendial workflow-->
    <!--<add key="oidc.clientcredservice.clientId" value="0oajro7kr7PQAwO1X0h7" />
    <add key="oidc.clientcredservice.clientSecret" value="rOCeljgrflpB1Hdlsqoslq-_C_Cm3dUlbMEWvaQu" />
    <add key="oidc.clientcredservice.scopes" value="resource_create resource_delete resource_read resource_update inline_hook" />-->
    <!-- Custom Authorization Server -->
    <!--<add key="oidc.customAuthServer.RedirectUri" value="http://localhost:50664/Oidc/InitiateService" />-->
    <!--<add key="oidc.authServer" value="https://id.aclarkesylvania.com/oauth2/ausjrolnd9hGKvz0a0h7" />
    <add key="oidc.issuer" value="https://id.aclarkesylvania.com/oauth2/ausjrolnd9hGKvz0a0h7" />
    <add key="oidc.scopes" value="openid profile groups resource_create resource_delete resource_read resource_update offline_access" />-->
    <!--<add key="oidc.scopes" value="openid inline_hook" />-->
    <!-- Built-in Authorization Server -->
    <!--<add key="oidc.authServer" value="https://id.aclarkesylvania.com/oauth2" />
    <add key="oidc.issuer" value="https://id.aclarkesylvania.com"/>
    <add key="oidc.scopes" value="openid profile email address phone groups"/>-->
    <!-- ###################################################################    -->
    <!--NOTE: choosing default and accessToken is not a supported configuration-->
    <!--choosing custom and accessToken requires API AccessManagement FF-->
    <!--choices are: custom or default-->
    <add key="oidc.chooseAuthServer" value="custom"/>
    <!--choices are: idToken or accessToken-->
    <add key="oidc.tokenType" value="accessToken"/>
    <!-- Web Api A destination-->
    <add key="oidc.webApiAprotected" value="http://localhost:44333/api/Values/protected" />
    <!-- Web Api core2.0 destination-->
    <!--<add key="oidc.webApiAprotected" value="http://localhost:58397/api/Values/protected"/>-->
    <!-- for inline hooks api integration -->
    <add key="cors:origins" value="http://localhost:60544"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <httpRuntime targetFramework="4.6.2"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
</configuration>